<div class="col-lg-4"></div>
<div class="col-lg-4">
	<h2>Novo Usuário</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div class="form-group">
		<%= f.label 'Nome:' %><br />
		<%= f.text_field :fullname, autofocus: true, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label 'E-mail:'%><br />
		<%= f.email_field :email, class: 'form-control'  %>
	</div>

	<div class="form-group">
		<%= f.label 'Senha:' %>
		<% if @validatable %>
		<em>(<%= @minimum_password_length %> caracteres minímos)</em>
		<% end %><br />
		<%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
	</div>

	<div class="form-group">
		<%= f.label 'Confirmação de Senha:' %><br />
		<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label 'Administrador' %>&ensp;
		<%= f.check_box :admin, {:checked=>true}, class: 'form-control' %>
	</div>

	<div class="actions">
		<%= f.submit "Salvar", class: 'btn btn-primary pull-right' %>
	</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>