<div class="page-header" style="text-align: center">
	<h1>Atendimentos</h1>
</div>

<br />
<div class="container-fluid">
	<div class="row">
		<label class="pull-right" style="margin-right: 2%"><%= Atendimento.count %> atendimentos cadastrados</label> 
	</div>
	<%= link_to 'Novo Atendimento', new_atendimento_path, class: "btn btn-primary pull-right" %>

	<%= form_tag(search_atendimentos_path, :method => "get", :class => "form-inline pull-right", id: "search-form", style: "margin-right: 2%") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Buscar Atendimento", class: "form-control" %>
	<%= button_tag " ", :title => nil, class: "btn btn-default glyphicon glyphicon-search" %>
	<% end %>
	<br />
	<br />
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Código</th>
				<th>Data</th>
				<th>Cliente</th>
				<th>Observações</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @atendimentos.each do |atendimento| %>
			<tr>
				<td><%= atendimento.id %></td>
				<td><%= atendimento.date.strftime("%-d/%-m/%Y %H:%M") %></td>
				<td><%= atendimento.title %></td>
				<td><%= atendimento.description %></td>
				<td><%= link_to 'Ver', atendimento, class: "btn btn-primary btn-xs" %></td>
				<td><%= link_to 'Editar', edit_atendimento_path(atendimento), class: "btn btn-warning btn-xs" %></td>
				<td><%= link_to 'Deletar', atendimento, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' }, class: "btn btn-danger btn-xs" %></td>
			</tr>
			<% end %>
		</div>
	</tbody>
</table>